*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Noto Serif TC', serif;
}
body{
    background-color: #82dfce;
}
.wrap{
    width: 100%;
    display: flex;
}
.item{
    width: 25%;
    position: relative;
}
.item img{
    width: 100%;
    vertical-align: middle;
}
.item .txt{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;  
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity .5s;
}
.item:hover .txt{
    opacity: 1;
}
.item h2{
    font-size: 20px;
    color: #ff0;
    font-weight: 100;
}
.item h2:after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    margin: 10px 0;
    background-color: rgb(129, 56, 163);
    transition: width .5s .5s;
}
.item:hover h2:after{
    width: 100%;    
}
.item p{
    font-size: 15px;
    color: #fff;
    font-weight: 100;
}
.banner{
    width: 100%;
    height: 700px;
    background-color: #ccc;
    background: linear-gradient(115deg,#7bf 50%,transparent 50%) center center/100%
    ,url("https://picsum.photos/1200/600") right center/ auto 100%
    ;
}
.container{
    max-width: 1440px;
    height: 100%;
    width: 100%;
    margin: auto;
}
.banner-text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
}
.banner-text h1{
    font-size: 80px;
    border-bottom: 1px solid #333;
}
.banner-text h1 small{
    display: block;
    font-size: 53px;
}
.banner-text h2{
    font-size: 50px;
}
.banner-text p{
    font-size: 30px;
}

.wrap1{
    width: 1200px;
    display: flex;
    margin: auto;
}
.item1{
    width: 368px;
    margin: 15px;
    text-align:center;
    background-color: #fff;
    border: 1px solid #ccc;
    transform: translateY(0px);
    transition: .5s;
}
.item1 img{
    width: 100%;
    vertical-align: middle;
}
.item1 h2{
    border-bottom: 1px solid #888; 
    padding-bottom: .3em;
    margin-bottom: .4em;
    font-weight: 900;
    transition: .25s;
}
.item1 p{
    line-height: 1.6;
    font-weight: 100;
    transition: .25s;
}
.item1 .txt1{
    padding: 20px;
    position: relative;

}
.item1 .txt1:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    left: 0;
    border-top: 50px solid transparent;
    border-left: 184px solid #fff;
    border-right: 184px solid #fff;
    transform: translateY(-140%);

}
.item1:hover{
    transform: translateY(-50px);
}
.item1:hover .txt1{ 
    background-image: linear-gradient(0deg,#FB8076,#FEB85D);
}
.item1:hover .txt1:before{
    border-left: 184px solid #FEB85D;
    border-right: 184px solid #FEB85D;
}
.main-footer{
    padding: 150px 0 0 0;
    background: linear-gradient(-20deg,#3f5494,#0Bc7a5);
}
.main-footer .container{
    display: flex;
    width: 1200px;
    margin: auto;
}
.footrt-item{
    width: 0;
    flex-grow: 1;
    margin: 0 20px;
}
.footrt-item h4{
    font-size: 24px;
    color: #fff;
    border-bottom: 1px dotted #fff;
    margin-bottom: .5px;
    padding-bottom: .5px;
}
.footrt-item nav{
    display: flex;
    flex-direction: column;
}
.footrt-item nav a{
    color: #fff;
    line-height: 1.4;
    text-emphasis: none;
    padding: 5px 0;
}
.footrt-item nav a:hover{
    color: #fa0;
}
.conpyright{
    width: 100%;
    text-align: center ;
    margin: 150px 0 0;
    padding: 10px 0px;
    background-color: #3e5293;
    color: #70f6df;
}
.footrt-subs{
    display: flex;
    flex-direction: column;
}
.footrt-subs form{
    display: flex;
    width: 100%;
    margin: auto 0px;
}
.footrt-subs form{
    display: flex;
}
.footrt-subs input[type="text"],.footrt-subs input[type="submit"]{
    bottom: none;
    padding: 5px 10px;
}
.footrt-subs input[type="text"]{
    width: 0;
    flex-grow: 1;
}
.footrt-subs input[type="submit"]{
    color: #fff;
    background-color: #3e5293;
}
.wi{
    width: 50px;
}